root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.json]
insert_final_newline = false

[*.{js,ts}]
quote_type = single

[*.ts]
ij_typescript_use_double_quotes = false
