GIT_CONFIG_FILE_PATH=

SOCKET_FOLDER_PATH=

DATABASE_PASSWORD=
DATABASE_USER=
DATABASE_NAME=

STORAGE_TXT_FOLDER_PATH=

DATABASE_PORT=
DATABASE_URL=

NODE_ENV=

STRING_VARIABLE_TEST=
NUMERIC_VARIABLE_TEST=
BOOLEAN_VARIABLE_TEST=
